
body,html {

  background-position: center;
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
}
.first{
   position:flex;
   height:850px;
   width: 100%;
   background-color: #f8f9fa !important;
   background-image: url("../img/cover7.jpg") !important;
   background-size:  100% 100%;
   text-align: center!important;
   box-sizing: border-box;
   padding-top: 700px;
}

.featurette{
  background-color:  white;
  display:    flex;
  text-align: left;
  text-decoration-style: solid;
  text-transform:    inherit;
  font: Comic ;
  font-family: sans-serif;
  color: black;
  border-radius: 100px;
  border-spacing: 5px;
  border-width: thick;
  margin-left: 150px;
  margin-right: 150px;
  word-wrap: break-word;
  text-indent: 30px;
}


.information1{
  background-color: white;
  background-image: url("../img/img5.jpg") !important;
  background-size: cover;
  display: flex;
  text-align:  center;
  text-decoration-style: solid;
  text-transform: none;
  font: Comic ;
  font-family: sans-serif;
  color: black;
  border-radius: 100px;
  border-spacing: 5px;
  border-width: thick;
  right:  auto;
  border-width: thick;
  margin-left: 150px ;
  margin-right: 150px ;

}


.page2{
  background-color: #64b5f6;
  background-image: url("../img/img5.jpg") !important;
  background-size: cover;
  text-decoration-style: solid;
  text-transform:    inherit;
  font: Comic ;
  font-family: sans-serif;
  color: black;
  border-radius: 100px;
  border-width: thick;



}

.background2{
  background-image: url("../img/img4.jpg") !important;
  background-size: cover;
}




@media (min-width: 768px) {
  .featurette-heading {
      margin-top: 70px;
      font-size: 80px;
      text-align: center;
      font-family: Lobster;
    }

    .lead1 {
      font-size: 20px;
      font-family: Lobster;
      text-align: left;

    }
}

@media (min-width: 992px) {
  .featurette-heading {
    margin-top: 70px;
    font-size: 80px;
    font-family: Lobster;
  }

  .lead1 {
    font-size: 20px;
    font-family: Lobster;
    text-align: left;

  }
}
/*---------------*/
.fa {
    padding: 20px;
    font-size: 60px;
    width: 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

/* Set a specific color for each brand */

/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
}


/* Github*/
.fa-github {
  background: #444444;
  color: white;
}

/* Linkedin*/
.fa-linkedin {
  background: #007bb5;
  color: white;
}

.navbar-wrapper {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 20;
}
/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
	padding-right: 0;
	padding-left: 0;
}
.navbar-wrapper .navbar {
	padding-right: 15px;
	padding-left: 15px;
}
.navbar-wrapper .navbar .container {
	width: auto;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 56px; /* Height of navbar */
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #343a40;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  .offcanvas-collapse.open {
    left: 0;
    visibility: visible;
  }
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}
